.message {
  max-width: 500px;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 4px;
  display: inline-block;
  &_type {
    &_self {
      text-align: end;
      margin: 10px 0 0 auto;
      background-color: #4ea49f;
    }
    &_third {
      text-align: start;
      margin: 10px auto 0 0;
      background-color: #89aab4;
    }
  }
}
